// ESTILOS GENERALES
html {
  font-size: 62.5%;
  overflow-x: hidden;

  body {
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    font-size: 1.2rem;    
    font-family: 'Press Start 2P', cursive;
    font-weight: 400;
    line-height: 1.5;
    color: $text-dark;
    
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-family: "Orbitron", sans-serif;
      color: $bg-Secondary;
    }
  }
}
.layout__link-top {
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  z-index: 999;
  transition: all 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);

    &:hover {
        transform: scale(1.2);

        & circle {
        fill: $bg-Lighter;
        }
    }
}

// HEADER
#header {
  img {
    width: 80px;
    filter: drop-shadow(1px 1px 2px #3498db);
  }
  button > img {
    width: 40px;
  }
  .icon-navbar {
    background-color: transparent;
  }

  .menu__navbar {
    padding: 2rem;    
  }
  
  .bg-navbar {
      background: linear-gradient(to right, $bg-primary 40%, #F1EFF0 60%);
  }
  
  .nav-item {
    font-size: 1.2rem;
    margin: 0 1rem;
  }
  
  .nav-link {
    color: $bg-Secondary;
    transition: all 300ms ease-in-out;
  
      &:hover {
          color: $bg-Lighter;
          background-color: $bg-Secondary;
          border-radius: 4px;
          transform: scale(1.2);
          box-shadow: 10px 10px 10px -7px rgba($color: #000000, $alpha: 0.25);
      }
  }
  
  .btn-access {
    padding: 0.7rem 4rem;
    font-size: 1.7rem;
    color: $text-light;
    border-radius: 0.4rem;
    background-color: $bg-Lighter;
    font-family: "Circular std";
    transition: all 300ms ease-in;
  
      &:hover {
          transform: translateX(-20px);
          color: $bg-Secondary;
          border: 1px solid $bg-Secondary;
      }
  }
}

// BANNER
#banner {
  position: relative;
  background-image: url('./src/assets/images/cool-geometric-triangular-hallway-3d-rendering.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100vw;
  height: 100%;

    h1 {
    font-family: "Orbitron";
    font-size: 4.2rem;
    font-weight: 600;
    line-height: 6.4rem;
    color: $bg-Lighter;
    }

    span, p {
      color: $bg-Lighter;
    }

    img {
      filter: brightness(100);
    }

    .banner__btn1 {
      padding: 1.8rem 1.8rem;
      font-size: 1.2rem;
      color: $text-light;
      background-color: $bg-Lighter;
      transition: all 300ms ease-in;
    
        &:hover {
            background-color: $bg-primary;
            color: $bg-Secondary;
            border: 1px solid $text-dark;
            transform: scale(1.1);
        }
    }
    
    .banner__btn2 {
      padding: 1.8rem 1.8rem;
      font-size: 1.2rem;
      color: $bg-Secondary;
      background-color: $bg-primary;
      border: 1px solid $text-dark;
      opacity: 0.5;
      text-decoration: none;
      transition: all 300ms ease-in;
    
        &:hover {
            background-color: $bg-Lighter;
            color: $text-light;
            transform: scale(1.1);
            opacity: 1;
        }
    }

    .container-fluid {
      position: relative;
      z-index: 1;
  }
  
}

// SERVICIOS
#section-services {
  margin-top: -10rem;
  .pretitle {
    font-size: 1.6rem;
    font-family: $font-subTitle;
    font-weight: 500;
    color: $bg-Lighter;
  }

  h2 {
    font-size: 2.2rem;
    font-weight: bold;
    padding: 1rem;
  }

  .description {
    font-size: 1.4rem;
      font-family: $font-subTitle;
      font-weight: 400;
      color: $text-dark;
      line-height: 1.3;
      padding: 1rem;
  }
  .service-list {

    h3 {
      position: relative;
      font-size: 2.2rem;
      font-weight: bold;
      padding-bottom: 1rem;

      &::after {
        content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 48px;
      height: 4px;
      background-color: $bg-Lighter;
      }
    }  
    
    p {
      font-family: $font-subTitle;
      font-weight: 400;
      font-size: 1.3rem;
      line-height: 1.8;
      margin: 2rem 0;
    }
    .service__container-img {
      position: relative;
      overflow: hidden;
      border-radius: 4px;
    }

    .service__container-img::after {
      content: "";
      position: absolute;
      top: 0;
      left: 10px;
      width: 2px;
      height: 0;
      background-color: $bg-Lighter;
      transition: height 0.6s ease;
    }

    .service__container-img:hover::after {
      height: 100%;
    }

    img {
      width: 100%;
      transition: all 600ms ease;

          &:hover {
          transform: scale(1.3);
          border-radius: 4px;
          filter: blur(2px);
          animation: dropDown 1s infinite;
          }
    }
  }
}

// PRESUPUESTO
#budget {
  margin-top: 8rem;
  h2 {
    position: relative;
    font-family: $font-title;
    font-size: 3.2rem;
    line-height: 100%;
    &::before {
      content: "";
      position: absolute;
      top: 20px;
      left: -100px;
      width: 27.2rem;
      height: 2px;
      background-color: $border;
    }
  
    &::after {
      content: "";
      position: absolute;
      top: 20px;
      right: -100px;
      width: 27.2rem;
      height: 2px;
      background-color: $border;
    }
  }

  span {
    font-size: 1.6rem;
  }  

  // FORMULARIOS

  .form_container {
    margin-top: 6rem;
    margin-bottom: 2.8rem;
  }
  .form2__container {
    margin-top: 3rem;
    margin-bottom: 2.8rem;
  }

  .form-label {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
  }

  .form-select,
  .form-control {
    padding: 1.4rem;
    font-size: 1.2rem;
    color: $text-input;
  }

  option,
  select,
  :placeholder-shown {
    padding: 1.2rem;
  }

  // icono del calendario
  input[type="date"]::-webkit-calendar-picker-indicator {
    transform: scale(2);
  }

  .check__description {
    margin-top: 3.2rem;
    font-size: 1.2rem;
  }
  .form-check {
    margin-top: 3.2rem;
    width: 1.6rem;
    cursor: pointer;
    transition: all 300ms ease-in-out;
  }

  .form-check:hover + .check__description {
    text-decoration: underline;
  }

  .btn__budget {
      position: relative;
      overflow: hidden;
      font-size: 1.3rem;
      margin-top: 4.2rem;
      padding: 2rem;
      background: linear-gradient(60deg, $bg-Secondary, $bg-Lighter); 
      border-radius: 0.4rem;
      color: $text-light; 
      transition: transform 0.3s ease; 

          &::before {
          content: "AHORA!";
          font-size: 1.3rem;
          position: absolute;
          display: flex;
          justify-content: center;
          align-items: center;
          top: 0;
          left: -100%; 
          width: 100%; 
          height: 100%;
          background: linear-gradient(120deg, $bg-Lighter, $bg-Secondary); 
          transition: left 0.6s ease; 
          }
              &:hover::before {
              left: 0; 
              }
  } 
} 

// SECCION HOW TO WORK
#work {
  background-color: $bg-Secondary;
  padding: 8rem 0;

  h1 {
    margin-bottom: 2.8rem;
    font-size: 3.2rem;
    font-weight: 500;
    line-height: 100%;
    color: $bg-Lighter;
  }

  p {
    font-size: 1.4rem;
    color: $text-light;
    line-height: 30px;
    margin-bottom: 6rem;
  }
  
  span {
    font-size: 1.4rem;
    font-weight: 300;
    color: $text-light;
  }

  a {
   background-color: $bg-Lighter;
   color: $text-light;
   padding: 2rem 4rem;
   margin-top: 8rem;
   border-radius: 4px;
   text-align: center;
   text-decoration: none;
   transition: all 600ms ease-in-out;

     &:hover {
         background: linear-gradient(20deg, $bg-Lighter, $bg-Secondary) border-box;
     }
  }
}

// TRABAJOS CONTACTO
#contact {
  margin-top: 8rem;
  margin-bottom: 8rem;

  h2 {
    font-size: 3.2rem;
    line-height: 42px;
  }

  ul {
    font-size: 1.4rem;

    &::before {
      content: "";
      position: absolute;
      margin-top: 3.5rem;
      width: 1px;
      height: 80%;
      left: -20px;
      background-color: $border;
    }
    li {
      position: relative;
      min-height: 75px;

      &::before {
        content: '';
        position: absolute;
        margin-top: -0.5rem;
        width: 38px;
        height: 38px;
        left: -58px;
        border-radius: 50%;
        background-color: $bg-Lighter;
      }
    }
    
    li:nth-child(1)::after {
      content: "1";
      position: absolute;
      font-size: 1.6rem;
      top: 2px;
      left: -44px;
      color: $bg-primary;
    }
    li:nth-child(2)::after {
      content: "2";
      position: absolute;
      font-size: 1.6rem;
      top: 2px;
      left: -44px;
      color: $bg-primary;
    }
    li:nth-child(3)::after {
      content: "3";
      position: absolute;
      font-size: 1.6rem;
      top: 2px;
      left: -44px;
      color: $bg-primary;
    }
    li:nth-child(4)::after {
      content: "4";
      position: absolute;
      font-size: 1.6rem;
      top: 2px;
      left: -44px;
      color: $bg-primary;
    }
  }
  

  .contact__btn {
    padding: 1.5rem 4rem;
    font-size: 1.4rem;
    text-align: center;
    border-radius: 4px;
    background-color: $bg-Lighter;
    color: $bg-primary;
    transition: all 600ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
    
     &:hover {
      background: linear-gradient(20deg, $bg-Lighter, $bg-Secondary) border-box;
      border: 1px solid $bg-Secondary;

     }
  }
}

// SECCIÓN REVISIÓN TRABAJOS
#review {
  background-color: $bg-Lighter;
  padding-top: 2rem;
  padding-bottom: 8rem;
  h2 {
    font-size: 3rem;
    line-height: 42px;
  }

  p {
    font-size: 1.4rem;
    line-height: 30px;
  }

  h3 {
    font-size: 3.2rem;
    line-height: 100%;
  }

  span {
    font-size: 1.4rem;
    line-height: 100%;
    margin: 3rem 0;
  }

  label {
    margin-bottom: 1rem;
  }

  // FORMAS

  .side-image {
    position: relative;
    min-height: 450px;
  }
  .shape0 {
    position: absolute;
    z-index: 3;
  }
  
  .shapes {
    position: absolute;
    top: 0;
    left: 230px;
  }
  
  .shape1 {
    animation: sideMove 10s infinite linear;
  }
  
  @keyframes sideMove {
    0% {
      transform: translateY(0px);
    }
    25% {
      transform: translateY(20px);
    }
    50% {
      transform: translateY(-20px);
    }
    75% {
      transform: translateY(-50px) translateX(10px);
    }
    100% {
      transform: translate(0);
    }
  }
  
  .shape2 {
    position: absolute;
    top: 120px;
    left: -80px;
    animation: sideMove2 10s infinite linear;
  }
  
  @keyframes sideMove2 {
    0% {
      transform: translateY(0);
    }
    25% {
      transform: translateY(-20px);
    }
    50% {
      transform: translateY(20px);
    }
    75% {
      transform: translateY(50px) translateX(-10px);
    }
    100% {
      transform: translate(0);
    }
  }
  
  .review__shape--arrow {
    position: absolute;
    top: 90%;
    right: 45%;
    animation: moveArrow 4s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  
  @keyframes moveArrow {
    0% {
      transform: translateY(0) translateX(0);
    }
    25% {
      transform: translateY(30px) translateX(-50px);
    }
    50% {
      transform: skew(-20deg) translateY(30px) translateX(-50px);
    }
  }

  // FORMULARIO
  .form-label {
    font-size: 1.2rem;
    line-height: 100%;
  }

  .form-select,
  .form-control {
    padding: 1.4rem;
    font-size: 1.2rem;
    color: $text-input;
  }

  :placeholder-shown {
    padding: 1.4rem;
  }
  
  .btn__budget {
    position: relative;
    overflow: hidden;
    font-size: 1.2rem;
    padding: 2rem;
    background: linear-gradient(60deg, $bg-Secondary, $bg-Lighter); 
    border-radius: 0.4rem;
    color: $text-light; 
    transition: transform 0.3s ease; 

        &::before {
        content: "AHORA!";
        font-size: 1.2rem;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 0;
        left: -100%; 
        width: 100%; 
        height: 100%;
        background: linear-gradient(120deg, $bg-Lighter, $bg-Secondary); 
        transition: left 0.6s ease; 
        }
            &:hover::before {
            left: 0; 
            }
  } 
}

// SECCIÓN ARTÍCULO
#articles {
  margin: 8rem 0;

  h2 {
    font-size: 3.2rem;
    line-height: 42px;
    margin-bottom: 3.2rem;
  }

  span {
    font-size: 1.4rem;
    line-height: 30px;
  }

  p {
    font-size: 1.4rem;
    line-height: 30px;
    font-weight: 300;
  }

  .subdescription::after {
    content: "";
    position: absolute;
    top: 6%;
    left: 0;
    margin-left: -21px;
    width: 3px;
    height: 90%;
    border-radius: 4px;
    background-color: $bg-Lighter;
  }
}

// CAROUSEL
#carousel {
  position: relative;
  padding: 8rem 0;
  background-color: $bg-Secondary;

  h2 {
    font-size: 3.2rem;
    color: $bg-Lighter;
  }

  p {
    font-size: 1.4rem;
    color: $bg-primary;
  }

  .carousel__container {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 4rem;
  }
  
  .carousel-btn-next,
  .carousel-btn-prev {
    background-color: transparent;
    border: none;
    margin-top: 10px;
  }
  
  .carousel-btn-prev {
      opacity: 0.3;
  }
  
  .carousel-inner {
    position: relative;
    display: flex;
    flex-wrap: wrap;
  }
  
  .carousel-btn-container {
    position: absolute;
    top: 10rem;
    right: 4rem;
    display: flex;
    flex-direction: column-reverse;
    z-index: 10;
  }
  
  .carousel-btn-prev-hover:hover,
  .carousel-btn-next-hover:hover {
    filter: brightness(150%);
    transform: scale(1.1);
  }  
  
  .carousel__review {
    max-width: 31.6rem;
    height: 24.7rem;
    border: 2px solid $border-dark;
    border-radius: 4px;
    padding-top: 0;
    padding-right: 2.5rem;
    padding-left: 2.5rem;
    padding-bottom: 1.5rem;
    margin-right: 3rem;
    margin-top: 4.5rem;
    margin-bottom: 1rem;
    cursor: pointer;  
  }
  
  .carousel__image-container {
    width: 100%;
  }
  
  .carousel__image {
    max-width: 9rem;
    max-height: 9rem;
    border-radius: 9rem;
    margin: 0 10rem;
    margin-top: -2.5rem;
    margin-bottom: 2.4rem;
    box-shadow: 0 10px 10px -4px rgba(0, 0, 0, 0.25);
  }
  
  .carousel__icon {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
  
      & img {
          margin-right: 0.5rem;
      }
  }
  
  .carousel__description {
    margin-bottom: 1rem;
  }
  
  .carousel__text {  
    margin-top: 1.5rem;
    text-align: center;
    font-size: 1.2rem;
    line-height: 2.4rem;
  }
  
  .swiper-container {  
      position: relative;  
      width: 100%;
      max-width: 1600px;
      height: 100%;
      margin: 0 auto;
      overflow: hidden;   
  }
  
  .swiper-pagination-bullet-active {
      background: $bg-Lighter !important;
  }
  
  .swiper-scrollbar-drag {
      background: $bg-Lighter !important;
  }
  
}

// SECCIÓN PEDIR PRESUPUESTO
#ask-budget {
  padding: 8rem 0;
  background-color: rgba(207, 197, 197, 0.062);

  h2 {
    font-size: 3.2rem;
    line-height: 42px;
  }

  p {
    font-size: 1.4rem;
    line-height: 30px;
  }

  .ask__budget--btn {
    padding: 2rem 8rem;
    font-size: 1.4rem;
    background-color: $bg-Lighter;
    color: $bg-Secondary;
    border: none;
    border-radius: 4px;
    transition: transform 300ms, box-shadow 300ms;
  
      &:hover {
          background: linear-gradient(60deg, $bg-Secondary, $bg-Lighter) border-box;
          transform: scale(1.1);
          color: $text-light;
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
      }
  }

}

// SECCIÓN BLOG
#blog {
  padding: 8rem 0;

  h2 {
    font-size: 3.2rem;
    line-height: 42px;
  }

  figure {
    position: relative;
    
    & img {
      position: relative;
      width: 100%;
    }
  }

  span {
    position: absolute;
    right: 10px;
    bottom: 10px;

    & a {
      display: flex;
      background-color: $bg-Lighter;
      width: 4.8rem;
      height: 4.8rem;
      align-items: center;
      justify-content: center;
      border-radius: 4px;
      transition: all 400ms ease-in-out;

      &:hover {
          transform: scale(1.2);
          background-color: $bg-Secondary;
      } 
    }
  }

  h3 {
    font-size: 2rem;
    line-height: 34px;
  }

  p {
    font-size: 1.2rem;
    line-height: 24px;
  }

  .blog-link {
    font-size: 1.4rem;
    color: $bg-primary;
    background-color: $bg-Lighter;
    border-radius: 4px;
    padding: 2rem;
    text-decoration: none;
    transition: all 400ms ease-in;
  
      &:hover {
          background: linear-gradient(60deg, $bg-Secondary, $bg-Lighter);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
      }
  }
}

// FOOTER
#footer {
  padding-top: 6rem;  
  background-color: $bg-Secondary;

  img {
    width: 12rem;
  }

  span {
    font-size: 1.2rem;
    line-height: 100%;
    color: $text-light;
  }
  h3 {
    font-family: $font-subTitle;
    font-size: 1.6rem;
    line-height: 24px;
    color: $bg-Lighter;
  }

  ul {
    margin-bottom: 4rem;
  }

  a {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 24px;
    color: $text-light;
    text-decoration: none;
  }
  
  a {
    --b: 0.1em; /* the thickness of the line */
    --c: #3DCDE3; /* the color */
  
    color: $text-light;
    padding-block: var(--b);
    background: linear-gradient(var(--c) 50%, #fff 0) 0%
        calc(100% - var(--_p, 0%)) / 100% 200%,
      linear-gradient(var(--c) 0 0) 0% var(--_p, 0%) / var(--_p, 0%) var(--b)
        no-repeat;
    -webkit-background-clip: text, padding-box;
    background-clip: text, padding-box;
    transition: 0.3s var(--_s, 0s) linear,
      background-size 0.3s calc(0.3s - var(--_s, 0s));
  }
  a:hover {
    --_p: 100%;
    --_s: 0.3s;
    color: $bg-Lighter;
  }
}
  