// VARIABLES 
$bg-primary: #FCFBFB;
$bg-Secondary: #15313F;
$bg-Lighter: #3DCDE3;
$bg-info: #F9FAFB;

$text-dark: #15313F;
$text-light: #ffffff;
$text-input: #b1b1b1;

$border: #DCDCDC;
$border-dark: #245B6C;    

$font-title: 'Didot Bold';
$font-subTitle: 'Press Start 2P', cursive;

$mx-width: 1440px;