
html {

    margin: 0;
    padding: 0;

    body {
        margin: 0;
        padding: 0;
        scroll-behavior: smooth;
        text-rendering: optimizeSpeed;
    }

    ul, ol {
        list-style: none;
    }
    
}