@font-face {
    font-family: 'Circular std';
    src: url('CircularStd-Medium.otf') format('truetype'),
         url('CircularStd-Book.otf') format('truetype'),
         url('CircularStd-Bold.otf') format('truetype');
    font-weight: 400;
    font-style: normal;
}